/* Google Fonts setting */

.quicksand-setting {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    background: linear-gradient(to top, #FFE7BD 2%, #F7F7F7 48%, #F7F7F7 48%);
    padding: 0px 100px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}


/* Shared style */

.shared-heading {
    font-size: 2.9rem;
    font-weight: 700;
    color: #000000;
}
.shared-sub-heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
}
.shared-paragraph {
    font-size: 0.9rem;
    font-weight: 500;
    color: #808080;
}
.primary-btn {
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 47px;
    border-radius: 10px;
    border: none;
}
.primary-btn:hover {
    background-color: white;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 600;
    transition-duration: 0.4s;
}


/* nav-section style */

.nav-container,
.logo-text-container,
.nav-ul-container {
    display: flex;
    align-items: center;
}
.nav-ul {
    display: flex;
}
.nav-li {
    list-style: none;
    margin-right: 32px;
}
.nav-li a {
    text-decoration: none;
}
.logo-container {
    margin-right: 17px;
}
.nav-ul-container {
    margin: 0px auto;
}
.Home {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FEA301;
}
.Home:hover {
    background-color: #fea101c5;
    color: white;
    padding: 7px 25px;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-size: 1rem;
    font-weight: 600;
}
.About {
    font-size: 1.2rem;
    font-weight: 700;
    color: #01ACFD;
}
.About:hover {
    background-color: #01adfdcc;
    color: white;
    padding: 7px 25px;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-size: 1rem;
    font-weight: 600;
}
.Facilities {
    font-size: 1.2rem;
    font-weight: 700;
    color: #05D4DF;
}
.Facilities:hover {
    background-color: #05d4dfce;
    color: white;
    padding: 7px 25px;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-size: 1rem;
    font-weight: 600;
}
.Admission {
    font-size: 1.2rem;
    font-weight: 700;
    color: #5D58EF;
}
.Admission:hover {
    background-color: #5d58efcb;
    color: white;
    padding: 7px 25px;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-size: 1rem;
    font-weight: 600;
}
.nav-btn {
    background-color: #FEA301;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: white;
    color: #FEA301;
    transition-duration: 0.3s;
}

/* hamburger style */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 90%;
    /* top: auto; */
}
.hamburger-menu span {
    background: #000000;
    height: 4px;
    width: 25px;
    margin: 3px 0px;
}

/* marque section style  */

.marquee-section {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #E2F4FD 40%, #F8E8CC 60%);
    /* padding: 0px 0; */
  }
  .marquee-paragraph{
    font-size: 2rem;
    font-weight: 600;
    color: #01ACFD;
  }
  .marquee-span{
    color: red;
  }
  .marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 12s linear infinite;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

/* hero section style */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-heading {
    font-size: 2.6rem;
    font-weight: 700;
    color: #000000;
}
.for-yellow-color {
    color: #FEA301;
}
.for-blue-color {
    color: #1FB5FC;
}
.hero-paragraph {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 24px;
}

/* curriculum-section-style */

.curriculum-section {
    background: url(./assets/bg.png);
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    gap: 20px;
}
.card {
    /* width: 367px; */
    /* height: 476px; */
    padding: 50px 30px;
    border-radius: 20px;
}
.card-1 {
    background: linear-gradient(to bottom, #E2F4FD 1%, white 20%, white 20%, white 59%);
    background-repeat: no-repeat;
    border: 1.9px solid #D9EFF9;
}
.card-2 {
    background: linear-gradient(to bottom, #FCF2DC 1%, white 20%, white 20%, white 59%);
    background-repeat: no-repeat;
    border: 1.9px solid #FCF2DC;
}
.card-3 {
    background: linear-gradient(to bottom, #ECE1FC 1%, white 20%, white 20%, white 59%);
    background-repeat: no-repeat;
    border: 1.9px solid #ECE1FC;
}
.curriculum-section>h1 {
    margin: 60px 0px 80px 0px;
}
.curriculum-btn{
    font-size: 1rem;
    font-weight: 700;
}
.curriculum-btn-1 {
    color: #64C8FF;
    border: none;
    background: none;
    cursor: pointer;
}
.curriculum-btn-2 {
    color: #F1AF10;
    border: none;
    background: none;
    cursor: pointer;
}
.curriculum-btn-3 {
    color: #8700FF;
    border: none;
    background: none;
    cursor: pointer;
}
.circle-btn-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
.circle-btn {
    background-color: #FEA301;
    color: #D9EFF9;
    font-size: 1.5rem;
    font-weight: 900;
    height: 50px;
    width: 50px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.circle-btn:hover{
    background-color: #F7F7F7;
    color: #FEA301;
    font-size: 1.9rem;
    font-weight: 900;
}
.left-btn{
    text-align: center;
}

/* story section style */

.story-section{
    background: url(./assets/bg.png);
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-top: 120px; */ 
}
.story-heading{
    text-align: center;
    margin-bottom: 60px;
}
.small-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.big-card, .small-card{
    background-color: white;
    border-radius: 15px;
}
.big-card-text{
    padding: 0px 40px 10px 40px;
}
.big-card img, .small-card img{
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    /* width: 100%; */
}
.date-text{
    color: white;
    position: absolute;
    padding: 10px 16px;
    border-radius: 45px;
    margin-top: -65px;
    font-size: 0.9rem;
    font-weight: 500;
}
.date-text-color-big{
    background-color: #1FB5FC;
}
.big-card-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 40px;
    color: rgba(0, 0, 0, 1);
}
.big-card-paragraph{
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 60px;
    color: rgba(102, 102, 102, 1);
}
.small-card-text{
    padding: 0px 40px 10px 40px;
}
.date-text-color-small-1{
    background-color: #06d66e;
}
.date-text-color-small-2{
    background-color: #f10a0e;
}
.date-text-color-small-3{
    background-color: #ffb303;
}
.date-text-color-small-4{
    background-color: #d14e7c;
}
.small-card-heading{
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 40px;
    color: rgba(0, 0, 0, 1);
}
.story-btn{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 60px;
}

/* footer style */

.footer {
    background-color: #01ACFD;
    color: white;
    padding: 80px 100px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
  }
  .footer-left {
    max-width: 300px;
  }
  .footer-left .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer-left .logo img {
    width: 70px;
    margin-right: 10px;
  }
  .footer-left h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
  }
  .footer-left p {
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.6;
  }
  .footer-links h4, .footer-social h4 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
    
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  .footer-links ul li {
    margin-bottom: 20px;
  }
  .footer-links ul li a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 1rem;
  }
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  .footer-social .social-icons {
    display: flex;
    gap: 10px;
  }
  
  

  

/* responsive for smaller device */

@media (max-width: 768px) {
    main {
        background: linear-gradient(to top, #F9DEAF 1%, white 20%, white 20%, white 59%);
        padding: 10px;
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }

    /* shared style */

    .shared-heading {
        font-size: 1.6rem;
        font-weight: 700;
        color: #000000;
    }
    .shared-sub-heading {
        font-size: 1.05rem;
        font-weight: 700;
        color: #000000;
    }
    .shared-paragraph {
        font-size: 0.7rem;
        font-weight: 500;
        color: #808080;
    }
    .primary-btn {
        background-color: #000000;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        padding: 12px 26px;
        border-radius: 10px;
        border: none;
    }

    .primary-btn:hover {
        background-color: white;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 600;
        transition-duration: 0.4s;
    }

    /* nav style */
    .nav-ul-container,
    .nav-btn {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .school-name {
        display: none;
    }

    .nav-container {
        border: 1px solid #FEA301;
        padding: 12px 16px;
    }

    .logo-container {
        margin-right: 0px;
    }

    .logo-container img {
        width: 46px;
        height: 46px;
    }

    /* hero section style */
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-heading {
        font-size: 2rem;
    }

    .hero-paragraph {
        font-size: 0.85rem;
        text-align: center;
    }

    .hero-img-container img {
        width: 345px;
    }

    /* curriculum-section-style */


    .curriculum-section{
        margin-bottom: 50px;
    }
    .card-container {
        flex-direction: column;
    }
    .curriculum-btn{
        font-size: 0.85rem;
        font-weight: 700;
    }
    .card {
        padding: 25px 37px;
        border-radius: 20px;
    }
    .circle-btn-container{
        display: none;
    }

    /* story section */

    .big-card-container{
        display: none;
    }
    .story-heading{
        margin-bottom: 20px;
    }
    .small-card-container{
        /* width: 358px; */
        /* display: grid; */
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 10px;
    }
    .small-card img{
        width: 183px;
        /* height: 180px; */
    }
    .date-text{
        padding: 7px 12px;
        border-radius: 30px;
        margin-top: -22px;
        font-size: 0.6rem;
        font-weight: 500;
    }
    .small-card-text{
        padding: 5px 15px 5px 15px;
    }
    .small-card-heading{
        /* font-size: 0.8rem; */
        margin-top: 13px;
        margin-bottom: 5px;
    }

    /* footer style */

    .footer {
        padding: 40px 15px;
      }
    .container {
        flex-direction: column;
        /* align-items: center;
        text-align: center; */
      }
      .footer-left, .footer-links, .footer-social {
        margin-bottom: 10px;
      }
      .footer-links ul li {
        margin-bottom: 20px;
      }
}